<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" >
<head >
    <meta charset="UTF-8"/>
    <title>Twitter Messages</title>
</head>
<body>
<a>All Messages Posted</a><br />


<th:block th:each="message: ${messages}">
    Id:<span th:text="${message.id}"></span><br/>
    Content:<span th:text="${message.content}"></span><br/>
    Date Posted:<span th:text="${message.posteddate}"></span><br/>
    Sent by:<span th:text="${message.sentby}"></span><br/>
    <span>
            <a href="/">Go Back</a>
        </span>

</th:block>

</body>
